*{
    margin: 0;
    padding: 0;
}

#frame{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    text-align: center;
}

.circle img{
    width: 416px;
    height: 416px;
}

.msg{
    margin-top: 58px;
    margin-bottom: 106px;
}

.msgs{
    font-size: 1.25rem;
    color: #2D5526;
}