@font-face {
  font-family: 'Pretendard';
  src: url('./images/Pretendard-Thin.woff') format('woff');
   
}

body{
  font-family: 'Pretendard';
}

#box-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
     
}

#border-box {
    border-radius: 16px;
    border: 1px solid black;
    padding: 20px;
    width: 840px;
    height: 137px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);

  }

  .user{
    color: #1E6A12;
    font-size: 1.25rem;
    text-align: left;
  }
  .greeting{
    margin-top: 30px;
    
  }
  .greeting-message{
    color: #2D5526;
    font-size: 1.5rem;
     
  }
  
  